
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//cms
@import "list";

.gridcontainer{
  .row{
    margin:0;
  }

  [class^="col-md-"] {
    min-height: 50px;
    border:2px dashed #ddd;
    margin-bottom:10px;
    margin-left: -1px;
    margin-right: -1px;
    padding:15px;
  }

  .panel.list-group-item{
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding:0;
    &.panel-default {
      border-color: #d3e0e9;
    }
  }
}
